<%= link_to trip do %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= trip.title %></h3>
    </div>
    <div class="panel-body">
      <p><%= trip.summary %></p>
    </div>
  </div>
<% end %>
