<div class="col-md-2">
  <h4><%= location.name %><h4>
  <% if location.blog_url %>
    <%= link_to "Blog Post", location.blog_url, class: "blog-content-button button btn-sm btn-success" %>
  <% end %>
</div>
